*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.orders-page{
    width: 100%;
    min-height: 80vh;
    background-color: #f5f5f5;
    padding: 50px 30px;
}

.orders-container{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.orders-container h1{
    font-size: 34px;
    margin-bottom: 30px;
    color: #222;
}

/* My Orders Page */

.order-card{
    background-color: #ffffff;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}

.order-card h3{
    font-size: 22px;
    margin-bottom: 15px;
    color: #111;
}

.order-card p{
    font-size: 17px;
    margin-bottom: 10px;
    color: #444;
}

/* Order Success Page */

.order-success-card{
    width: 90%;
    max-width: 550px;
    background-color: #ffffff;
    margin: 80px auto;
    padding: 45px 35px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.order-success-card h1{
    font-size: 34px;
    color: #16a34a;
    margin-bottom: 18px;
}

.order-success-card p{
    font-size: 18px;
    color: #444;
    margin-bottom: 28px;
}

.shop-btn{
    display: inline-block;
    padding: 13px 28px;
    background-color: #2563eb;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
}

.shop-btn:hover{
    background-color: #1d4ed8;
}

@media(max-width: 768px){

    .orders-page{
        padding: 30px 15px;
    }

    .orders-container{
        width: 100%;
    }

    .orders-container h1{
        font-size: 28px;
    }

    .order-success-card{
        margin: 40px auto;
        padding: 35px 25px;
    }

    .order-success-card h1{
        font-size: 28px;
    }
}

.cancel-btn{
    display:inline-block;
    margin-top:12px;
    padding:10px 18px;
    background:#dc2626;
    color:white;
    text-decoration:none;
    border-radius:8px;
    font-size:14px;
    font-weight:600;
}

.cancel-btn:hover{
    background:#991b1b;
}

.order-image{
    width:120px;
    height:120px;
    object-fit:cover;
    border-radius:10px;
    margin-bottom:15px;
}